/*map & form*/

.geo {
    background-color: #d8d3d3f5;
}

.get,
.git {
    /* position: absolute;
    z-index: 1; */
    color: #a19a9a;
    font-family: pt-sans, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

#map {
    height: 900px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.wrapperform {
    position: absolute;
    z-index: 1;
    /* margin: auto 400px; */
    width: 100%;
    max-width: 680px;
    padding: 20px;
    padding-right: 25px;
    margin-left: 450px;
    box-sizing: border-box;
    opacity: 1;
}

/* content */

.content {
    text-align: center;
}

/* form */

.form {
    width: 100%;
    margin: 25px 0;
}

.top-form,
.middle-form,
.bottom-form {
    width: 100%;
    min-height: 10px;
    margin: 10px 0;
}

.form input[type="text"],
.form textarea {
    border: 2px solid #fff;
    padding: 15px 5px;
    outline: none;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.form input:focus,
.form textarea:focus {
    border-color: #9f9acf;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(76, 161, 175, 0.5);
}

.form .label {
    margin-bottom: 5px;
    text-transform: capitalize;
}

/* top-contact */

.top-form .inner-form {
    width: 46.9%;
    float: left;
    margin-right: 5%;
}

.top-form .inner-form:last-child {
    margin-right: 0;
}

/* middle-form */

.middle-form {
    clear: both;
}

/* bottom-form */

.bottom-form textarea {
    height: 185px;
}

.btn {
    background: #9f9acf;
    width: 200px;
    padding: 10px 0;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: proxima-nova, sans-serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: proxima-nova, sans-serif;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-family: proxima-nova, sans-serif;
}

@media screen and (max-width: 460px) {
    .wrapper {
        margin: 25px auto 0;
    }
    .top-form .inner-form {
        width: 100%;
        margin: 5px 0;
    }
    .top-form,
    .middle-form,
    .bottom-form {
        margin: 5px 0;
    }
    .form {
        margin-top: 10px;
    }
    .form input[type="text"],
    .form textarea {
        width: 100%;
        box-sizing: border-box;
    }
}

/*gps*/

