body {
    display: grid;
    margin: 0;
    padding: 0;
}

h3 {
    color: #665f60;
    font-family: pt-sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.servic {
    color: #fefcfd;
    font-family: proxima-nova, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.cras {
    color: #665f60;
    font-family: pt-sans, sans-serif;
    font-size: 18px;
    font-style: italic;
    padding-left: 92px;
    padding-right: 100px;
}

.risus {
    color: #fefcfd;
    font-family: pt-sans, sans-serif;
    font-size: 18px;
    font-style: italic;
    /* font-family: "PT Sans"; */
    /* font-family: "PT Sans"; */
    /* font-weight: 700; */
    padding-left: 43px;
    padding-right: 10px;
}

/*menu*/

.top-menu {
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(34, 34, 34, 0.2);
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}

/* .navbar-logo {
    display: inline-block;
} */

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    margin-top: 20px;
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    transition: 0.3s linear;
}

.menu-main a:hover {
    color: blue;
    opacity: 0.7;
}

/*header*/

.header {
    background: url(./image/DeathtoStock_Wired7.jpg) no-repeat center;
    background-size: cover;
    height: 1070px;
    /* opacity: 1; */
    text-align: center;
}

div.intro-text {
    padding-top: 220px;
    padding-bottom: 600px;
}

header .intro-text .intro-lead-in {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 60.22px;
    margin-bottom: 25px;
    color: #fefefb;
    text-transform: uppercase;
}

.intro-heading {
    color: #fefdfd;
    font-family: pt-sans, sans-serif;
    font-size: 30px;
    font-style: italic;
}

/*About us*/

.cont {
    display: inline-grid;
    grid-template-columns: 380px 790px;
    height: 800px;
    background-color: #ebebeb;
    padding-left: 270px;
}

.title {
    padding-top: 115px;
}

.mollis {
    text-align: center;
    color: #665f60;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin: 100px;
    padding-top: 78px;
}

.learn {
    width: 195px;
    height: 50px;
    border: 1px solid #7d7a7c;
}

.more {
    color: #7d7a7c;
    font-family: "PT Sans";
    font-size: 20px;
    font-style: italic;
}

/*server*/

.wrapper {
    padding-right: 216px;
    padding-left: 270px;
    display: grid;
    grid-template-columns: 0fr 0fr 410px;
}

.grid-item {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grap {
    width: 380px;
    height: 400px;
    background-color: #dbdbdb;
}

.wdev {
    width: 380px;
    height: 400px;
    background-color: #dbdbdb;
}

.web {
    width: 380px;
    height: 400px;
    background-color: #ebebeb;
}

.seo {
    width: 380px;
    height: 400px;
    background-color: #ebebeb;
}

.mdev {
    background-image: url(./image/unsplash_523ae1f5502d6_1.jpg);
    width: 410px;
    height: 799px;
    /* opacity: 0.5; */
}

.icone {
    margin-top: 99px;
    padding-left: 167px;
}

/*recent work*/

.recent {
    background: url(./image/rw.jpg) no-repeat center;
    background-size: cover;
    height: 1000px;
}

.work {
    color: #fefcfd;
    font-family: proxima-nova, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding-top: 36px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

/*carousel*/

img {
    max-width: 100%;
    height: auto;
}

.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.but {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.gallerys {
    font: normal 18px/1.5 monospace;
    overflow: hidden;
}

.over-visible {
    overflow: visible;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: white;
}

.container {
    max-width: 850px;
    padding: 10px 10px;
    margin: 0 auto;
}

.synch-carousels {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.synch-carousels {
    width: 100%;
}

.synch-carousels .right {
    order: -1;
}

.synch-carousels .left {
    overflow: hidden;
}

.synch-carousels .gallery {
    display: none;
}

.synch-carousels .slick-slide {
    outline: none;
}

.synch-carousels .slick-vertical .slick-slide {
    border: none;
}

.synch-carousels .gallery .slick-list {
    height: auto !important;
    margin: 0 -20px;
}

.synch-carousels .gallery .slick-slide {
    cursor: pointer;
}

.synch-carousels .gallery .slick-slide {
    margin: 0 20px;
}

.synch-carousels .nav-arrows {
    display: flex;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.synch-carousels .nav-arrows svg {
    fill: white;
}

.synch-carousels .arrow-left {
    margin-right: 35px;
}

.synch-carousels .photos-counter {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 20px;
    color: white;
    background: #292929;
}

@media screen and (min-width: 480px) {
    .synch-carousels .right {
        margin-bottom: 20px;
    }
    .synch-carousels .gallery {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .synch-carousels .right {
        position: relative;
        width: calc(100% - 230px);
        margin-bottom: 0;
        order: 2;
    }
    .synch-carousels .left {
        width: 210px;
    }
    .synch-carousels .gallery .slick-slide {
        margin: 0 0 20px 0;
    }
    .synch-carousels .gallery .slick-list {
        margin: 0;
    }
}

.view {
    border: 1px solid #7d7a7c;
    background-color: #ffffff;
}

.Gallery {
color: #ffffff;
font-family: "PT Sans";
font-size: 20px;
font-style: italic;
}

/*team*/

h2 {
    color: #665f60;
    font-family: proxima-nova, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.meet {
    background-color: #ebebeb;
}

div .team {
    box-sizing: border-box;
}

.col-3 {
    background-color: #ffffff;
    background-image: linear-gradient(transparent 86%, #9f9acf 50%);
    width: 300px;
    float: left;
    margin: 20px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.team-item {
    text-align: center;
}

.team-item h3 {
    color: #9f9acf;
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.team-item .team-location {
    font-size: 13px;
    margin-bottom: 20px;
}

.team-item .team-location {
    font-size: 12px;
    margin-bottom: 20px;
}

.team-position {
    color: #665f60;
    font-family: pt-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}

.team-item p {
    font-size: 13px;
    /* font-weight: 300px; */
    padding: 5px 10px 20px 10px;
}

.img-responsive {
    border-radius: 120px;
}

/*map & form*/

.geo {
    background-color: #ebebeb;
}

#map {
    height: 900px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

#contactform {
    position: absolute;
    z-index: 1;
    margin: 60px auto 0;
    padding: 65px;
    padding-left: 450px;
    padding-top: 125px;
    height: auto;
    opacity: 1;
}

.requst {
    width: 414px;
    height: 56px;
    background-color: #ebebeb;
    opacity: 0.7;
}

.sms {
    color: white;
    width: 860px;
    height: 200px;
    opacity: 0.7;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 293px;
    height: 70px;
    background-color: #9f9acf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5e5985;
}

/*gps*/

.men {
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 350px;
    height: 91px;
    background-color: #ebebeb;
    /* opacity: 0.5; */
    top: 250px;
    right: -350px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.men-ticker {
    display: none;
}

.btn-men {
    color: #fff;
    background-color: #666;
    padding: 25px;
    position: fixed;
    top: 250px;
    right: 5px;
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    width: 41px;
    height: 41px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-men span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-men span.first {
    margin-top: 0;
}

.men-ticker:checked~.btn-men {
    right: 350px;
}

.men-ticker:checked~.men {
    right: 0;
}

.men-ticker:checked~.btn-men span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.men-ticker:checked~.btn-men span.second {
    opacity: 0;
}

.men-ticker:checked~.btn-men span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

/*footer*/

footer {
    height: 185px;
    background-color: #9f9acf;
}

.all {
    color: #ffffff;
    font-family: pt-sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    margin: 0px;
    /* padding-left: 165px;
    padding-right: 180px; */
    padding-top: 82px;
}

.net {
    float: right;
    margin: 10px;
}

.net:hover {
    opacity: 0.5;
}

.topbutton {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    background-color: #9f9acf;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}